body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer {
  position: absolute;
  left: 0 ;
  right: 0;
  bottom: 0;
  text-align: center;
  padding: 2px;
  background-color:#607D8B;
  color:#fff;
  font-size: 13px;
}


.dialogContent .p-dialog-content {
  padding: 10px;
}